.sidebar-right {
	display: grid;
	grid-gap: 0%;
	grid-template-rows: 9% 2% 29% 25% 35%;
  grid-template-columns: 10% 80% 10%;
	grid-template-areas: 
    ". user ."
    ". line-rigth ."
    ". storageChart ."
    ". storageDetails ."
    ". upgradeMessage .";
}

.user{
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: user;
}
.user .graySquareContainer .graySquare{
  width: 15px;
  height: 15px;
  margin-right: 13px;
  background: #C4C4C4;
}
.user .userInfo {
  display: flex;
  align-items: center;
}
.user .userInfo .userPhoto{
  width: 31px;
  height: 31px;
  margin-left: 10px;
  border-radius: 50%;
  background: #C4C4C4;
}

.lineRigth{
  height: 0px;
  border: 1px solid #E0E7F1;
  grid-area: line-rigth;
}

.storageChart{
  grid-area: storageChart;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.storageChart .storageText{
  font-size: 34px;
  margin-top: -155px;
  width: 130px;
  height: 130px;
  background: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  
}
.storageChart p{
  margin-top: 40px;
  align-self: center;
  font-size: 10px;
  line-height: 9px;
  letter-spacing: 0.05em;
  color: #858A9D;
}
.storageChart .mini-text{
  margin-top: 15px;
  font-size: 20px;
}
.storageChart svg {
  align-self: center;
  height: 180px;
  width: 180px;
}
.storageChart svg circle {
  stroke-width: 4px;
  stroke-linecap: round;
  fill: transparent;
  animation: progress 1s ease-out forwards;
}
#green{
  stroke: #4AC29D;
  stroke-dasharray: 35.5, 284;
  stroke-dashoffset: -215.75;
}
#blue{
  stroke: #689FF8;
  stroke-dasharray: 70.5, 284;
  stroke-dashoffset: -135.75;
}
#gray{
  stroke: #BCBECA;
  stroke-dasharray: 45.5, 284;
  stroke-dashoffset: -83.75;
}
#orange{
  stroke: #FF9F00;
  stroke-dasharray: 36.5, 284;
  stroke-dashoffset: 60;
}
#orange2{
  stroke: #FF9F00;
  stroke-dasharray: 75.5, 284;
  stroke-dashoffset: 0;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.storageDetails{
  grid-area: storageDetails;
  display: grid;
	grid-gap: 0%;
	grid-template-columns: auto;
  grid-template-rows: auto;
}
.upgradeMessage{
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: white;
  border-radius: 18px;
  grid-area: upgradeMessage;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.upgradeMessage .mini-text{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

