@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.wrapper {
	display: grid;
	grid-gap: 1.5%;
	font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
	grid-template-columns: 17% 55% 25%;
	grid-template-rows: minmax(500px, 870px);
	grid-template-areas: 
    "sidebar-left content sidebar-right";
}
.sidebar-left {
	background-color: #343951;
	grid-area: sidebar-left;
}
.content {
	background-color: #F5F6FC;
	grid-area: content;
}
.sidebar-right {
	background-color: #F5F6FC;
	grid-area: sidebar-right;
}
span{
  display: inline-block;
}
.mini-text{
  display: flex;
  font-size: 10px;
  line-height: 9px;
  letter-spacing: 0.05em;
  color: #858A9D;
}
.title-text{
  font-size: 24px;
}
.subtitle-text{
  font-size: 16px;
}